@import '../../common/colors';
@import '../../common/setup';

.tagContainer {
    width: 97%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;
}

button {
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    background: $light-blue;
    border: none;
    border-radius: 4px;
    color: $white;
    overflow: hidden;
    outline: none;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 0.5rem 1rem;
    font-size: 0.85em;
    a {
        text-decoration: none;
    }
    &.red {
        background: $red;
    }
    &.grey {
        color: $light-grey;
        background: transparent;
    }
    &.hide {
        display: none;
    }
}

.tagItem {
    display: inline-block;
    button:enabled {
        &.red {
            &:hover {
                color: $red;
            }
            &:after {
                background: $red;
            }
        }
        &.grey {
            &:hover {
                color: $light-grey;
                background: transparent;
            }
            &:after {
                background: $light-grey;
            }
        }
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        @include mq($from: desktop) {
            &:hover {
                cursor: pointer;
                -webkit-transition: all .7s ease;
                transition: all 1s ease;
                background: transparent;
                color: $light-blue;
                border-radius: 0;
                &:after {
                    transition: all .3s ease;
                    width: 100%;
                    left: 0;
                }
            }
        }
        &:after {
            position: absolute;
            transition: all .3s ease;
            content: '';
            width: 0;
            bottom: 0;
            left: inherit;
            right: 0;
            height: 3px;
            background: $light-blue;
        }
    }
}
